<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SanoGest | Painel de Administração</title>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/1240881.css">
    <link rel="stylesheet" href="../../../assets/fontawesome/all.min.css">
    <link rel="shortcut icon" href="../../../assets/img/logo 125.png" type="image/png">


</head>
<body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
        <div class="container">
            <a class="navbar-brand fw-bold" href="../../../private/index.html">
                <img src="../../../assets/img/logo 255.png" alt="Logo SanoGest" style="height: 35px;" class="me-2">
                SanoGest Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navPrivada">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navPrivada">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"> <a class="nav-link active" href="../dashboard/dashboard.html">Dashboard </a> </li>
                    <li class="nav-item"><a class="nav-link text-warning" href="../../../public/index.html">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="d-flex">
    <nav class="bg-white border-end shadow-sm" style="width: 250px; min-height: 100vh;">
        <div class="p-3">
            <h5 class="text-primary fw-bold mb-4">Módulos</h5>
            <ul class="nav nav-pills flex-column mb-auto">
                <li><a href="../equipamentos/equipamentos.html" class="nav-link text-dark"><i class="fa-solid fa-microchip me-2"></i>Equipamentos</a></li>
                <li><a href="../fornecedores/fornecedores.html" class="nav-link text-dark"><i class="fa-solid fa-truck-medical me-2"></i>Fornecedores</a></li>
                <li><a href="../localizacoes/localizações.html" class="nav-link text-dark"><i class="fa-solid fa-map-location-dot me-2"></i>Localizações</a></li>
                <li><a href="../garantias/garantias.html" class="nav-link text-dark"><i class="fa-solid fa-shield-halved me-2"></i>Garantias</a></li>
                <li><a href="../documentacao/documentacao.html" class="nav-link text-dark"><i class="fa-solid fa-file-contract me-2"></i>Documentação</a></li>
            </ul>
        </div>
    </nav>

    <main class="flex-grow-1 p-5 fundo-dashboard">
        <div class="bg-white bg-opacity-75 p-5 rounded shadow-sm"> 
           <div class="d-flex justify-content-between align-items-center mb-4">
            <h2>Lista de Equipamentos</h2>
            <a href="novo.html" class="btn btn-primary">
            <i class="fa-solid fa-plus me-2"></i>Novo Equipamento
            </a>
           </div>

       <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Equipamento</th>
                    <th>Marca/Modelo</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>EQP-001</td>
                    <td>Ventilador</td>
                    <td>Dräger Evita V500</td>
                    <td><span class="badge bg-success">Operacional</span></td>
                    <td>
                        <a href="../equipamentos/consultar.html" class="btn btn-sm btn-outline-info" title="Consultar"><i class="fa-solid fa-eye"></i></a>
                        <a href="../equipamentos/editar.html" class="btn btn-sm btn-outline-warning" title="Editar"><i class="fa-solid fa-pen"></i> </a> 
                        <a href="../equipamentos/apagar.html"  class="btn btn-sm btn-outline-danger" title="Remover"><i class="fa-solid fa-trash"></i> </a>
                </tr>
            </tbody>
        </table>
       </div>
    </div>
        
        </main>
</div>
    
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>